<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> RSS Videos </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="rss.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
			.index-span4 {
				padding-bottom: 30px;

			}
			.ctrl-sublist {
				margin-bottom: 5px;
			}
			.ctrl-sublist button {
				margin-left: 5px;
			}
			.form-errmsg {
				color: red;
			}
			.radio-tab {
				display: none;
			}
			.controls img {
				margin-bottom: 20px;
				height: 150px;
			}
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

		<script src=/jquery.js> </script>
		<script src=/temp.js> </script>
		<script src=rss.js> </script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="?index">管理视频</a>
          <div class="nav-collapse">
            <ul id=topnav class="nav">
              <li><a href="?index">视频</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

		<script id=thumb_span type='text/html'>
			<li >
				<a href="#" class="thumbnail">
					<img src="<%= r.img %>" alt="">
				</a>
				<div class="thumbnail-a" ><%= r.title %></div>
			</li>
		</script>

		<script id=left_li type='text/html'>
			<% if (type == 'header') { %>
				<li class="nav-header"><%= title %></li>
			<% } %>
			<% if (type == 'active') { %>
				<li class="active"><a href="<%= href %>"><%= title %></a></li>
			<% } %>
			<% if (type == 'item') { %>
				<li><a href="<%= href %>"><%= title %></a></li>
			<% } %>
		</script>

		<script id=index_videos type='text/html'>
			<div class="row-fluid">
				<div class=span3>
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<%= li %>
						</ul>
					</div>
				</div>
				<div class="span9">
					<ul class="thumbnails">
					</ul>
				</div>
			</div>
		</script>

    <div id=main_div class="container-fluid" >

    </div><!--/.fluid-container-->
      <hr>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
